/* Colors */
/* Extends */
img {
  display: block;
  max-width: 100%;
}
.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.title,
.testimonial .wrapper .testimonial__header .testimonial__title,
.faq-section .wrapper .wrapper__items .question__title,
.our-team .wrapper .our-team__header .our-team__title,
.pcr-test .wrapper .section__info .section__title,
.table-section .wrapper .table-section__title,
.about .wrapper .wrapper__items .info__title,
.our-doctors .wrapper .section__title,
.contact .wrapper .form__title,
.contact .wrapper .other .block-1__title,
.form__wrapper .form__title {
  font-family: "Oswald", sans-serif;
  color: #000a24;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.sub-title,
.our-team .wrapper .doctor__name {
  color: #000a24;
  font-size: 24px;
  font-weight: 700;
}
.link,
.about-company .wrapper .description__link,
.faq-section .wrapper .wrapper__items .question__link,
.table-section .wrapper .section__link,
.our-doctors .wrapper .link__home .home__link,
.contact .wrapper .form .form__btn,
.form__wrapper .form__btn,
.popup__link {
  display: inline-block;
  color: #4363b1;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #4363b1;
  padding: 10px 18px 10px 18px;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.degubGrid {
  height: 100vh;
  position: fixed;
  width: 100%;
}
.degubGrid > div {
  height: inherit;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  .degubGrid > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .degubGrid > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 450px) {
  .degubGrid > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .degubGrid > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .degubGrid > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 450px) {
  .degubGrid > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.degubGrid > div > div {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.degubGrid > div > div > div {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 1 - 20px);
  height: inherit;
  outline: 2px solid #65ff65;
  background: rgba(0, 0, 0, 0.3);
}
/* css basic reset */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.header .header-top {
  background-color: #4363b1;
}
.header .header-top .wrapper {
  display: flex;
  justify-content: space-between;
  /*  .header-language {
        position: relative;
        padding: 10px 0;

        .header-language__text {
          display: inline-block;
          color: white;
        }
        .header-language__img {
          display: inline-block;
          vertical-align: middle;
          padding-left: 10px;
        }
      }

      .header-language::after,
      .header-language::before {
        content: "";
        background-color: white;
        position: absolute;
        width: 6px;
        height: 1.5px;
      }

      .header-language::after {
        transform: rotate(40deg);
        top: 20px;
        right: -16px;
        transition: all 0.2s ease-out;
      }

      .header-language-anim::after {
        transform: rotate(-40deg);
        transition: all 0.2s ease-out;
      }

      .header-language::before {
        transform: rotate(-40deg);
        top: 20px;
        right: -20px;
        transition: all 0.2s ease-out;
      }
      .header-language-anim::before {
        transform: rotate(40deg);
        transition: all 0.2s ease-out;
      } */
}
.header .header-top .wrapper .language {
  position: relative;
  display: flex;
  width: 27px;
  padding: 10px 0px;
  /* Arrow style */
  /* Arrow animation up-down */
}
.header .header-top .wrapper .language__text {
  color: white;
  margin-right: 10px;
}
.header .header-top .wrapper .language-position {
  margin-right: 50px;
}
.header .header-top .wrapper .language__list {
  list-style: none;
  position: absolute;
  left: 70px;
}
.header .header-top .wrapper .language__item-init {
  background-image: url(/src/img/moldova\ 1.png);
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header .header-top .wrapper .language__link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  cursor: pointer;
}
.header .header-top .wrapper .language__link-ru {
  background-image: url(/src/img/moldova\ 1.png);
}
.header .header-top .wrapper .language__link-gb {
  background-image: url(/src/img/moldova\ 1.png);
}
.header .header-top .wrapper .language__item-hide {
  display: none;
}
.header .header-top .wrapper .language::before,
.header .header-top .wrapper .language::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 7px;
  height: 1px;
  cursor: pointer;
  top: 20px;
  left: 105px;
}
.header .header-top .wrapper .language::before {
  transform: rotate(40deg);
  left: 100px;
  transition: all 0.2s ease-out;
}
.header .header-top .wrapper .language::after {
  transform: rotate(-40deg);
  transition: all 0.2s ease-out;
}
.header .header-top .wrapper .language.arrow_anim::before {
  transform: rotate(-40deg);
  transition: all 0.2s ease-out;
}
.header .header-top .wrapper .language.arrow_anim::after {
  transform: rotate(40deg);
  transition: all 0.2s ease-out;
}
.header .header-top .wrapper .header-icon {
  padding: 10px 0;
}
.header .header-top .wrapper .header-icon .header-icon__fb {
  display: block;
}
.header .wrapper .navigation {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
@media screen and (max-width: 850px) {
  .header .wrapper .navigation {
    display: none;
  }
}
.header .wrapper .navigation__menu {
  width: 796px;
  margin-right: 25px;
}
.header .wrapper .navigation__list {
  display: flex;
  justify-content: space-between;
}
.header .wrapper .navigation__link {
  font-size: 16px;
  font-style: normal;
  line-height: 18.75px;
  font-weight: 500;
  color: #000a24;
}
.header .wrapper .navigation__item-margin {
  margin-left: -40px;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 850px) {
  .header .wrapper .navigation__item-margin {
    margin-left: 20px;
  }
}
.header .wrapper .navigation__item {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 0px;
}
.header .wrapper .navigation__item-minus {
  margin-right: -20px;
}
.header .wrapper .navigation__item-drop {
  border: 1px solid transparent;
  padding: 12px 20px;
  padding-right: 40px;
}
.header .wrapper .navigation__item-drop:hover {
  border: 1px solid #4363b1;
}
.header .wrapper .navigation__item-drop:hover .dropdown__content {
  display: block;
}
.header .wrapper .navigation .dropdown {
  position: relative;
  display: inline-block;
}
.header .wrapper .navigation .dropdown__title {
  /* font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px; */
  color: #000a24;
}
.header .wrapper .navigation .dropdown__title::after,
.header .wrapper .navigation .dropdown__title::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 8px;
  height: 1.5px;
}
.header .wrapper .navigation .dropdown__title::after {
  transform: rotate(40deg);
  top: 8px;
  right: -15px;
  transition: all 0.2s ease-out;
}
.header .wrapper .navigation .dropdown__title-anim::after {
  transform: rotate(-40deg);
  transition: all 0.2s ease-out;
}
.header .wrapper .navigation .dropdown__title::before {
  transform: rotate(-40deg);
  top: 8px;
  right: -20px;
  transition: all 0.2s ease-out;
}
.header .wrapper .navigation .dropdown__title-anim::before {
  transform: rotate(40deg);
  transition: all 0.2s ease-out;
}
.header .wrapper .navigation .dropdown__content {
  box-sizing: content-box;
  background-color: white;
  display: none;
  width: 230px;
  margin-top: 12px;
  padding-left: 21px;
  margin-left: -21px;
  position: absolute;
  z-index: 10;
  border: 1px solid #4363b1;
}
.header .wrapper .navigation .dropdown__none {
  display: block;
}
.header .wrapper .navigation .dropdown__link {
  display: block;
  padding-left: 21px;
  margin-left: -21px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;
  border: 1px solid transparent;
}
.header .wrapper .navigation .dropdown__link:hover {
  border: 1px solid #4363b1;
  background-color: rgba(67, 99, 177, 0.1);
}
.header .wrapper .navigation__phone {
  flex-shrink: 0;
}
.header .wrapper .navigation__tel {
  display: inline-block;
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 900;
}
@media screen and (max-width: 992px) {
  .header .wrapper .navigation__tel {
    display: none;
  }
}
.header .wrapper .navigation__icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
@media screen and (max-width: 850px) {
  .header .wrapper .navigation__icon {
    width: 27px;
  }
}
.header .wrapper .navigation-mobile {
  display: none;
}
.header .wrapper .navigation-mobile .menu__link {
  color: black;
  font-weight: 500;
  font-size: 16px;
}
.header .wrapper .navigation-mobile .menu__item {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
  padding-left: 25px;
}
.header .wrapper .navigation-mobile .menu__item::before,
.header .wrapper .navigation-mobile .menu__item::after {
  content: "";
  background-color: black;
  width: 10px;
  height: 2px;
  position: absolute;
}
.header .wrapper .navigation-mobile .menu__item::before {
  transform: rotate(40deg);
  left: 0px;
  top: 10px;
}
.header .wrapper .navigation-mobile .menu__item::after {
  transform: rotate(-40deg);
  left: 7px;
  top: 10px;
}
.header .wrapper .burgher-menu {
  display: none;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 850px) {
  .header .wrapper .burgher-menu {
    display: flex;
  }
}
.header .wrapper .burgher::after,
.header .wrapper .burgher::before {
  content: "";
  background-color: black;
  width: 20px;
  height: 2px;
  position: absolute;
}
.header .wrapper .burgher-line::before {
  content: "";
  background-color: black;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 8px;
  right: 0px;
}
.header .wrapper .burgher::after {
  top: 14px;
  right: 0px;
}
.header .wrapper .burgher::before {
  top: 20px;
  right: 0px;
}
.main-slider {
  position: relative;
}
.main-slider .wrapper .swiper__info {
  position: absolute;
  z-index: 20;
  top: 20%;
  left: 10%;
}
.main-slider .wrapper .swiper__title {
  max-width: 344px;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
}
@media screen and (max-width: 992px) {
  .main-slider .wrapper .swiper__title {
    font-style: 55px;
    line-height: 70px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 850px) {
  .main-slider .wrapper .swiper__title {
    font-size: 40px;
    max-width: 270px;
    line-height: 56px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main-slider .wrapper .swiper__title {
    font-size: 36px;
    max-width: 250px;
    line-height: 40px;
  }
}
.main-slider .wrapper .swiper__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #4363b1;
  border: 2px solid #4363b1;
  padding: 11px 15px 10px 18px;
}
.main-slider .wrapper .swiper__link:hover {
  background: rgba(62, 113, 235, 0.1);
}
.main-slider .wrapper .swiper__link::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
.main-slider .slider-cont {
  width: 100%;
}
.main-slider .slider-cont .swiper1 {
  width: 100%;
  height: 630px;
}
.main-slider .vertical {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 630px;
}
.main-slider .sl-1 {
  background-image: url(/src/img/slide-1.png);
}
.main-slider .sl-2 {
  background-image: url(/src/img/slide-2.png);
}
.main-slider .sl-3 {
  background-image: url(/src/img/slide-3.png);
}
.main-slider .sl-4 {
  background-image: url(/src/img/slide-4.png);
}
.main-slider .swiper-pagination-bullet {
  position: relative;
  margin-bottom: 40px !important;
  margin-right: 80px !important;
}
.main-slider .imgg {
  display: block;
  width: 100%;
}
.services {
  margin-top: 8%;
}
.services .wrapper .services__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}
.services .wrapper .services__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 3%;
}
.services .wrapper .row__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.services .wrapper .card {
  margin-bottom: 3%;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 4 - 20px);
  border: 1px solid rgba(0, 10, 36, 0.2);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  .services .wrapper .card {
    width: calc(100% / 12 * 6 - 20px);
  }
}
@media screen and (max-width: 768px) {
  .services .wrapper .card {
    width: calc(100% / 12 * 12 - 20px);
  }
}
.services .wrapper .card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 43px;
  padding-left: 35px;
  padding-top: 15px;
  text-transform: uppercase;
}
.services .wrapper .card__img {
  object-fit: cover;
}
.services .wrapper .card__list {
  max-width: 324px;
}
.services .wrapper .card__item {
  position: relative;
  padding-top: 18px;
  padding-left: 50px;
}
.services .wrapper .card__item::before {
  content: "";
  background-color: black;
  width: 4px;
  height: 4px;
  top: 25px;
  left: 38px;
  position: absolute;
  border-radius: 50%;
}
.services .wrapper .card__link {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #4363b1;
  border: 2px solid transparent;
}
.services .wrapper .card__link-wrapp {
  margin-top: auto;
  padding-bottom: 46px;
  padding-left: 37px;
  padding-top: 20px;
}
.services .wrapper .card__link::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
.services .wrapper .card__text-bold {
  font-weight: 600;
}
.services .wrapper .card:hover .card__link {
  border: 2px solid #ffffff;
  color: white;
}
.services .wrapper .card:hover .card__link::after {
  content: url(/src/img/page_about/white-arrow.png);
  margin-left: 15px;
}
.services .wrapper .card:hover .card__title {
  color: white;
}
.services .wrapper .card:hover .card__list {
  color: white;
}
.services .wrapper .card:hover .card__item::before {
  background-color: white;
}
.services .wrapper .card:hover {
  background: url(/src/img/new-bg.png);
  background-size: cover;
}
.about-company {
  margin-top: 5%;
}
.about-company .wrapper .screen-1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .about-company .wrapper .screen-1 {
    justify-content: center;
  }
}
.about-company .wrapper .main-img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 5 - 20px);
}
@media screen and (max-width: 992px) {
  .about-company .wrapper .main-img {
    width: calc(100% / 12 * 7 - 20px);
  }
}
@media screen and (max-width: 850px) {
  .about-company .wrapper .main-img {
    width: calc(100% / 12 * 12 - 20px);
  }
}
.about-company .wrapper .description {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 6 - 20px);
  margin-top: 10%;
}
@media screen and (max-width: 992px) {
  .about-company .wrapper .description {
    width: calc(100% / 12 * 5 - 20px);
  }
}
@media screen and (max-width: 850px) {
  .about-company .wrapper .description {
    width: calc(100% / 12 * 12 - 20px);
  }
}
.about-company .wrapper .description__heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 5%;
}
.about-company .wrapper .description__text {
  max-width: 382px;
  margin-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
}
.about-company .wrapper .description__link {
  margin-top: 20px;
}
.about-company .wrapper .description__link:hover {
  background: rgba(62, 113, 235, 0.1);
}
.about-company .wrapper .description__link::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
.about-company .wrapper .screen-2 {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .about-company .wrapper .screen-2 {
    display: none;
  }
}
.about-company .wrapper .screen-2 .block {
  display: flex;
}
.about-company .wrapper .screen-2 .block__img {
  max-width: 86px;
  max-height: 86px;
  margin-right: 20px;
}
.about-company .wrapper .screen-2 .block__info {
  display: flex;
  flex-direction: column;
}
.about-company .wrapper .screen-2 .block__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #4363b1;
}
.about-company .wrapper .screen-2 .block__text {
  color: #000a24;
  max-width: 188px;
  margin-top: auto;
}
.testimonial {
  margin-top: 7%;
}
.testimonial .wrapper .testimonial__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 5%;
}
.testimonial .wrapper .testimonial__header .testimonial__title {
  max-width: 412px;
  font-size: clamp(25px, 3vw, 40px);
}
.testimonial .wrapper .slider__buttons {
  display: flex;
  padding-right: 12px;
}
@media screen and (max-width: 768px) {
  .testimonial .wrapper .slider__buttons {
    display: none;
  }
}
.testimonial .wrapper .slider__buttons .swiper-button-next {
  position: static;
}
.testimonial .wrapper .slider__buttons .swiper-button-next::after {
  content: url(/src/img/Arrow\ 2.png);
  transform: rotate(180deg);
  border: 1px solid rgba(67, 99, 177, 0.2);
  font-size: 0;
  padding: 15px;
  margin-right: 43px;
}
.testimonial .wrapper .slider__buttons .swiper-button-prev {
  position: static;
}
.testimonial .wrapper .slider__buttons .swiper-button-prev::after {
  content: url(/src/img/Arrow\ 2.png);
  border: 1px solid rgba(67, 99, 177, 0.2);
  font-size: 0;
  padding: 15px;
}
.testimonial .wrapper .swiper2 {
  padding-bottom: 50px;
}
.testimonial .wrapper .client {
  position: relative;
  max-width: 664px;
  border: 1px solid rgba(0, 10, 36, 0.2);
}
.testimonial .wrapper .client__info {
  display: flex;
  align-items: center;
  margin-top: 7%;
  margin-left: 15%;
}
.testimonial .wrapper .client__img {
  border-radius: 50%;
  border: 2px solid white;
}
.testimonial .wrapper .client__info-cont {
  margin-left: 20px;
}
.testimonial .wrapper .client__img-cont::before {
  content: "";
  background-color: #4363b1;
  width: 26%;
  height: 37%;
  left: 0px;
  top: 14.9%;
  position: absolute;
  z-index: -1;
}
.testimonial .wrapper .client__img-cont::after {
  position: absolute;
  content: url(/src/img/“.png);
  left: 13%;
  margin-right: 25px;
  top: 30px;
}
.testimonial .wrapper .client__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.testimonial .wrapper .client__message {
  max-width: 480px;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  padding-bottom: 7%;
}
.advantages {
  margin-top: 5%;
}
@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}
.advantages .wrapper .wrapper__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: space-between;
}
.advantages .wrapper .wrapper__items .left-row {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 6 - 20px);
  margin-top: 50px;
}
.advantages .wrapper .wrapper__items .left-row__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}
.advantages .wrapper .wrapper__items .left-row .advantage {
  display: flex;
  border: 2px solid rgba(0, 10, 36, 0.2);
  margin-top: 20px;
  padding: 40px 15px 40px 40px;
}
.advantages .wrapper .wrapper__items .left-row .advantage__img {
  width: 60px;
}
.advantages .wrapper .wrapper__items .left-row .advantage__info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.advantages .wrapper .wrapper__items .left-row .advantage__title {
  color: #4363b1;
  font-weight: 500;
  font-size: 24px;
}
.advantages .wrapper .wrapper__items .left-row .advantage__subtitle {
  margin-top: auto;
  max-width: 220px;
}
.advantages .wrapper .wrapper__items .right-row {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 6 - 20px);
  max-width: 550px;
  margin-left: 40px;
}
.advantages .wrapper .wrapper__items .right-row .right-row-img {
  min-height: 670px;
}
.faq-section {
  margin-top: 5%;
}
.faq-section .wrapper .wrapper__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: space-between;
}
.faq-section .wrapper .wrapper__items .faq {
  order: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 80px 0px 93px 35px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 6.5 - 20px);
}
@media screen and (max-width: 992px) {
  .faq-section .wrapper .wrapper__items .faq {
    width: calc(100% / 12 * 8 - 20px);
  }
}
@media screen and (max-width: 850px) {
  .faq-section .wrapper .wrapper__items .faq {
    width: calc(100% / 12 * 12 - 20px);
    order: 2;
  }
}
.faq-section .wrapper .wrapper__items .faq .accordion {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 40px 60px;
  width: 95%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: white;
}
.faq-section .wrapper .wrapper__items .faq .accordion__icon {
  position: relative;
  display: inline-block;
}
.faq-section .wrapper .wrapper__items .faq .accordion__icon::before {
  content: url(/src/img/question.png);
  transform: scale(0.7);
  position: absolute;
  left: -55px;
  top: -25px;
}
.faq-section .wrapper .wrapper__items .faq .accordion::after {
  content: "";
  background-color: #4363b1;
  width: 10px;
  height: 2px;
  right: -10px;
  top: 40%;
  transform: rotate(90deg);
  position: absolute;
}
@media screen and (max-width: 576px) {
  .faq-section .wrapper .wrapper__items .faq .accordion::after {
    top: 40%;
    right: -10px;
    width: 10px;
    height: 2px;
    transform: rotate(40deg);
  }
}
.faq-section .wrapper .wrapper__items .faq .accordion::before {
  content: "";
  background-color: #4363b1;
  width: 10px;
  height: 2px;
  position: absolute;
  right: -10px;
  top: 40%;
}
@media screen and (max-width: 576px) {
  .faq-section .wrapper .wrapper__items .faq .accordion::before {
    top: 40%;
    width: 10px;
    height: 2px;
    right: -16px;
    transform: rotate(-40deg);
  }
}
.faq-section .wrapper .wrapper__items .faq .accordion-anim::before {
  transform: rotate(0deg);
}
@media screen and (max-width: 576px) {
  .faq-section .wrapper .wrapper__items .faq .accordion-anim::before {
    transform: rotate(40deg);
  }
}
.faq-section .wrapper .wrapper__items .faq .accordion-anim::after {
  transform: rotate(180deg);
}
@media screen and (max-width: 576px) {
  .faq-section .wrapper .wrapper__items .faq .accordion-anim::after {
    transform: rotate(-40deg);
  }
}
.faq-section .wrapper .wrapper__items .faq .panel {
  padding: 0 60px;
  font-size: 14px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.faq-section .wrapper .wrapper__items .question {
  order: 2;
  margin-top: 15%;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 5 - 20px);
}
@media screen and (max-width: 992px) {
  .faq-section .wrapper .wrapper__items .question {
    width: calc(100% / 12 * 4 - 20px);
  }
}
@media screen and (max-width: 850px) {
  .faq-section .wrapper .wrapper__items .question {
    width: calc(100% / 12 * 12 - 20px);
    order: 1;
    margin-bottom: 10%;
  }
}
.faq-section .wrapper .wrapper__items .question__title {
  margin-bottom: 30px;
}
.faq-section .wrapper .wrapper__items .question__link {
  margin-top: 40px;
}
.faq-section .wrapper .wrapper__items .question__link:hover {
  background: rgba(62, 113, 235, 0.1);
}
.faq-section .wrapper .wrapper__items .question__link::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
.our-team {
  margin-top: 10%;
  padding-bottom: 5%;
}
.our-team .wrapper .our-team__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-team .wrapper .our-team__header .our-team__title {
  margin-bottom: 3%;
  line-height: 56px;
}
.our-team .wrapper .swiper3 {
  padding-bottom: 50px;
}
.our-team .wrapper .swiper3 .swiper-pagination {
  display: none;
}
@media screen and (max-width: 768px) {
  .our-team .wrapper .swiper3 .swiper-pagination {
    display: block;
  }
}
.our-team .wrapper .swiper3 .swiper-slide {
  min-height: 397px;
}
.our-team .wrapper .slider__buttons {
  display: flex;
  padding-right: 10px;
}
@media screen and (max-width: 850px) {
  .our-team .wrapper .slider__buttons {
    display: none;
  }
}
.our-team .wrapper .slider__buttons .swiper-button-next {
  position: static;
}
.our-team .wrapper .slider__buttons .swiper-button-next::after {
  content: url(/src/img/Arrow\ 2.png);
  transform: rotate(180deg);
  border: 1px solid rgba(0, 10, 36, 0.2);
  font-size: 0;
  padding: 15px;
  margin-right: 43px;
}
.our-team .wrapper .slider__buttons .swiper-button-prev {
  position: static;
}
.our-team .wrapper .slider__buttons .swiper-button-prev::after {
  content: url(/src/img/Arrow\ 2.png);
  border: 1px solid rgba(0, 10, 36, 0.2);
  font-size: 0;
  padding: 15px;
}
.our-team .wrapper .doctor {
  min-height: 397px;
  display: flex;
}
@media screen and (max-width: 850px) {
  .our-team .wrapper .doctor {
    flex-direction: column;
  }
}
.our-team .wrapper .doctor .doctor__pics {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.our-team .wrapper .doctor__img {
  min-height: 397px;
  min-width: 338px;
  order: 1;
}
.our-team .wrapper .doctor__info {
  order: 2;
  border: 1px solid rgba(0, 10, 36, 0.2);
}
.our-team .wrapper .doctor__name {
  padding-top: 35%;
  padding-left: 30px;
}
.our-team .wrapper .doctor__specialization {
  padding-top: 5%;
  padding-bottom: 15%;
  padding-left: 30px;
}
.our-team .wrapper .doctor__message {
  padding-top: 20px;
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  .our-team .wrapper .doctor__message {
    display: none;
  }
}
.our-team .wrapper .doctor__media {
  display: none;
  padding-top: 20px;
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  .our-team .wrapper .doctor__media {
    display: block;
  }
}
.our-team .wrapper .doctor__social {
  display: none;
  padding-left: 13%;
  padding-top: 15px;
  padding-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .our-team .wrapper .doctor__social {
    display: flex;
  }
}
.our-team .wrapper .doctor__social .s-icon {
  padding: 15px 15px;
}
.our-team .wrapper .doctor__social .s-icon:hover {
  background-color: blue;
}
.our-team .wrapper .doctor__social .fb {
  mask: url("/src/img/Facebook-3.png") center no-repeat;
  background-color: black;
  scale: 0.8;
}
.our-team .wrapper .doctor__social .inst {
  mask: url("/src/img/Instagram-2.png") center no-repeat;
  background-color: black;
  scale: 0.8;
}
.our-team .wrapper .doctor__social .tw {
  mask: url("/src/img/Twitter.png") center no-repeat;
  background-color: black;
  scale: 0.8;
}
.our-team .wrapper .doctor__social .ldin {
  mask: url("/src/img/Linkedin.png") center no-repeat;
  background-color: black;
  scale: 0.8;
}
.location {
  position: relative;
  margin-top: 5%;
}
.location .wrapper .contacts-footer {
  position: absolute;
  top: 15%;
  left: 10%;
  min-width: 350px;
  z-index: 5200;
}
.footer {
  margin-top: 5%;
}
.footer .wrapper .footer-top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer .wrapper .footer-top {
    display: none;
  }
}
.footer .wrapper .footer-top .service__item {
  padding-bottom: 15%;
}
.footer .wrapper .footer-top .service__link {
  display: inline-block;
  color: #4363b1;
}
.footer .wrapper .footer-top .information__title {
  font-weight: 500;
  padding-bottom: 5%;
}
.footer .wrapper .footer-top .information__program {
  padding-top: 15%;
}
.footer .wrapper .footer-top .information__work-program {
  font-weight: 500;
}
.footer .wrapper .footer-top .information__work {
  padding-top: 5%;
}
.footer .wrapper .footer-top .adress {
  max-width: 288px;
}
.footer .wrapper .footer-top .adress__title {
  font-weight: 500;
  padding-bottom: 5%;
}
.footer .wrapper .footer-top .adress__text {
  padding-bottom: 5%;
}
.footer .wrapper .footer-top .adress__social {
  font-weight: 500;
}
.footer .wrapper .footer-top .adress .social-media {
  padding-top: 5%;
  margin-left: -0.8vw;
  display: flex;
}
.footer .wrapper .footer-top .adress .social-media .s-icon {
  padding: 15px 1.2vw;
}
.footer .wrapper .footer-top .adress .social-media .fb {
  mask: url("/src/img/fb-footer.png") center no-repeat;
  background-color: #4363b1;
  scale: 0.8;
}
.footer .wrapper .footer-top .adress .social-media .inst {
  mask: url("/src/img/Instagram-2.png") center no-repeat;
  background-color: #4363b1;
  scale: 0.8;
}
.footer .wrapper .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding-top: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.footer .wrapper .footer-bottom .made__text {
  display: inline-block;
  vertical-align: middle;
}
.footer .wrapper .footer-bottom .made__img {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}
.footer .wrapper .footer-bottom .made {
  order: 1;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .footer .wrapper .footer-bottom .made {
    width: calc(100% / 12 * 12 - 20px);
    order: 3;
    max-width: 210px;
    margin: 0 auto;
  }
}
.footer .wrapper .footer-bottom .neurogen__comp {
  order: 2;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .wrapper .footer-bottom .faq__footer {
  order: 3;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .footer .wrapper .footer-bottom .faq__footer {
    order: 2;
  }
}
/* PAGE NUMBER 2 ------------------------- PAGE NUMBER 2 */
.main {
  background-image: url(/src/img/page2/main.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 860px;
  /*  .form__wrapper{
    padding-top: 24%;
    display: flex;
    justify-content: center;

    .form{
      box-shadow: 0px 2px 45px -18px rgba(0,0,0,0.75);
      background-color: rgb(255, 255, 255);
      padding-left: 48px;
      padding-right: 80px;
       
      &__title:extend(.title){
        position: relative;
        line-height: 59px;
        max-width: 520px;
        margin-top: 63px;
        margin-bottom: 5%;
      }

      &__title-blue{
        position: relative;
        font-family: 'Oswald', sans-serif;
        color: @blue;
      }

      &__title-blue::after{
        background-image: url(/src/img/page2/virus.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 40px;
        height: 50px;
        content: "";
      }

      &__submit{
        max-width: 217px;
        margin: 0 auto;
        padding-bottom: 4%;
      }

      &__btn:extend(.link){
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        margin-top: 5%;
        margin-bottom: 10%;
        cursor: pointer;
      }

      &__btn::after {
        content: url(/src/img/Arrow\ 2.png);
        margin-left: 15px;
      }

      .input{
        display: flex;
        justify-content: space-between;

        &__column-space{
          margin-right: 7%;
          
        }

        &__label{
          display: block;
          padding-bottom: 2%;
        }

        &__label-require{
          position: relative;
        }

        &__label-require::after{
          content: "*";
          margin-left: 5px;
          position:  absolute;
        }

        &__field{
          display: block;
          min-width: 270px;
          min-height: 50px;
          margin-bottom: 30px;
        }
      }
    }
    .program{
      box-shadow: 10px 2px 25px -8px rgba(0,0,0,0.75);
      background-image: url(/src/img/page2/formbg.png);
      background-position: 35% 65%;
      padding-top: 184px;
      padding-left: 64px;
      padding-right: 64px;

      &__hours{
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 36px;
        color: white;
      }

      &__work{
        padding-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        color: white;

      }
      &__work-max{
        max-width: 312px;
        padding-bottom: 0px;
      }

    }
  } */
}
.testing {
  margin-top: 15%;
}
.testing .wrapper .wrapper__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.testing .wrapper .wrapper__items .test {
  padding-top: 10%;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 6 - 20px);
}
.testing .wrapper .wrapper__items .test__title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #4363b1;
  max-width: 490px;
}
.testing .wrapper .wrapper__items .test__title-black {
  color: black;
}
.testing .wrapper .wrapper__items .test__subtitle {
  font-weight: 500;
  font-size: 24px;
  color: #000a24;
  line-height: 43px;
  padding-top: 35px;
}
.testing .wrapper .wrapper__items .test__list {
  padding-top: 35px;
  position: relative;
}
.testing .wrapper .wrapper__items .test__list::after {
  content: url(/src/img/page2/);
}
.testing .wrapper .wrapper__items .test__item {
  padding-top: 20px;
  padding-left: 10px;
}
.testing .wrapper .wrapper__items .test__link {
  position: relative;
  color: #4363b1;
  display: inline-block;
}
.testing .wrapper .wrapper__items .test__link::before {
  content: "";
  background-color: #4363b1;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 7px;
  left: -10px;
}
.testing .wrapper .wrapper__items .test__img {
  position: relative;
  width: 160px;
  margin-left: auto;
}
.testing .wrapper .wrapper__items .test__img::before {
  background-image: url(/src/img/page2/virus.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 60px;
  position: absolute;
  left: -80px;
  top: -15px;
  content: "";
}
.testing .wrapper .wrapper__items .second-block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 6 - 20px);
}
.testing .wrapper .wrapper__items .second-block__text {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 34px 70px;
}
.testing .wrapper .wrapper__items .second-block .text__item {
  padding-top: 20px;
  font-size: 16px;
  line-height: 28px;
  color: #000a24;
}
.pcr-test {
  margin-top: 10%;
}
.pcr-test .wrapper .section__info .section__title {
  font-family: "Oswald", sans-serif;
  max-width: 398px;
  text-transform: uppercase;
}
.pcr-test .wrapper .section__info .section__subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  max-width: 660px;
}
.pcr-test .wrapper .wrapper__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.pcr-test .wrapper .wrapper__items .item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 6 - 20px);
  margin-top: 56px;
  display: flex;
  align-items: center;
}
.pcr-test .wrapper .wrapper__items .item__number {
  font-size: 65px;
  font-weight: 500;
  line-height: 117px;
  color: #4363b1;
  padding: 5px 47px 8px 30px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: max-content;
}
.pcr-test .wrapper .wrapper__items .item__number-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pcr-test .wrapper .wrapper__items .item__number-padding-max {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pcr-test .wrapper .wrapper__items .item__text {
  padding: 10px 0px;
  font-size: 20px;
  line-height: 36px;
  max-width: 570px;
  background-color: white;
  position: relative;
  left: -30px;
}
.pcr-test .wrapper .wrapper__items .item__text-big {
  padding: 0px;
  font-size: 20px;
  line-height: 36px;
}
.documents {
  margin-top: 10%;
}
.documents .wrapper .documents__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  max-width: 575px;
  line-height: 56px;
  padding-bottom: 3%;
}
.documents .wrapper .wrapper__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.documents .wrapper .wrapper__items .card {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 4 - 20px);
}
.documents .wrapper .wrapper__items .card__info {
  position: relative;
  top: -60px;
  left: 20px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
/* PAGE NUMBER 3 ------------------------- PAGE NUMBER 3 */
.apointment {
  background-image: url(/src/img/page3/apoint\,ment-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10%;
}
.apointment .form__wrapper .form__title-color {
  color: #4363b1;
}
.apointment .form__wrapper .form__subtitle {
  padding-bottom: 10%;
  padding-top: 1%;
}
/* PAGE NUMBER 3 ------------------------- PAGE NUMBER 3 */
.table-section .wrapper {
  /* .row-1{
      position: relative;
      padding: 0;
      margin-left: 10px;
    } */
}
.table-section .wrapper .table-section__title {
  width: max-content;
  margin-bottom: 3%;
  margin-top: 6%;
}
.table-section .wrapper .table-section__title-max {
  max-width: 748px;
}
.table-section .wrapper table.blueTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 5%;
}
.table-section .wrapper table.blueTable td,
.table-section .wrapper table.blueTable th {
  border: 1px solid rgba(0, 10, 36, 0.2);
}
.table-section .wrapper .head {
  text-align: center;
  text-transform: uppercase;
  background-color: #4363b1;
  color: white;
  padding: 14px 0px;
  font-size: 20px;
  font-weight: 700;
}
.table-section .wrapper .col {
  padding: 14px 0px;
  font-size: 16px;
  font-weight: 500;
}
.table-section .wrapper .col-1 {
  text-transform: uppercase;
  text-align: left;
  padding: 14px 3vw;
  max-width: 235px;
}
.table-section .wrapper .col-3 {
  width: 235px;
}
.table-section .wrapper .col-4 {
  width: 235px;
}
.table-section .wrapper .col-wrapp {
  display: flex;
  align-items: center;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.table-section .wrapper .row__image {
  width: 100px;
  margin-right: 30px;
}
.table-section .wrapper .row__text {
  display: inline;
  max-width: 120px;
  text-align: left;
}
.table-section .wrapper .row-2 {
  position: relative;
  padding: 0;
  margin-left: 10px;
}
.table-section .wrapper .row-2::before {
  background-image: url(/src/img/page3/second.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 20px;
  content: "";
}
.table-section .wrapper .row-3 {
  position: relative;
  padding: 0px;
  margin-left: 10px;
}
.table-section .wrapper .row-3::before {
  background-image: url(/src/img/page3/third.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 20px;
  content: "";
}
.table-section .wrapper .row-4 {
  position: relative;
  padding: 0;
  margin-left: 10px;
}
.table-section .wrapper .row-4::before {
  background-image: url(/src/img/page3/fourth.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 20px;
  content: "";
}
.table-section .wrapper .row-5 {
  position: relative;
  padding: 0;
  margin-left: 10px;
}
.table-section .wrapper .row-5::before {
  background-image: url(/src/img/page3/fitfh.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 20px;
  content: "";
}
.table-section .wrapper .row-6 {
  position: relative;
  padding: 0;
  margin-left: 10px;
}
.table-section .wrapper .row-6::before {
  background-image: url(/src/img/page3/sixth.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 20px;
  content: "";
}
.table-section .wrapper .row:nth-child(even) {
  background-color: rgba(67, 99, 177, 0.05);
}
.table-section .wrapper .col-2 {
  font-weight: 400;
}
.table-section .wrapper .section__link {
  margin-bottom: 5%;
}
.table-section .wrapper .section__link:hover {
  background: rgba(62, 113, 235, 0.1);
}
.table-section .wrapper .section__link::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
.table-section .wrapper .important__text {
  font-size: 30px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  max-width: 734px;
  position: relative;
  margin: 0 auto;
}
.table-section .wrapper .important__text::before {
  content: url(/src/img/page3/important.png);
  position: absolute;
  left: -60px;
  top: 25px;
}
/* PAGE NUMBER 4 ------------------------- PAGE NUMBER 4 */
.about {
  margin-top: 5%;
  margin-bottom: 5%;
}
.about .wrapper .wrapper__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-left: -30px;
  margin-right: -30px;
  justify-content: center;
}
.about .wrapper .wrapper__items .about__img {
  width: calc(100% / 12 * 7 - 20px);
}
.about .wrapper .wrapper__items .about__img .img__about {
  display: block;
  height: 100%;
  width: 100%;
}
.about .wrapper .wrapper__items .info {
  width: calc(100% / 12 * 5 - 20px);
  background-image: url(/src/img/page_about/about-bg-text.png);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 137px 107px 122px 107px;
}
.about .wrapper .wrapper__items .info__title {
  padding-bottom: 30px;
}
.about .wrapper .wrapper__items .info__text {
  color: rgba(0, 10, 36, 0.7);
  padding-bottom: 15px;
}
.about .wrapper .more {
  max-width: 437px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4363b1;
  position: relative;
  top: -100px;
  left: 80px;
  box-shadow: 15px 5px 50px 0px rgba(20, 43, 98, 0.15);
}
.about .wrapper .more__title {
  font-size: 24px;
  font-weight: 500;
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 53px 128px 20px 128px;
}
.about .wrapper .more__text {
  text-align: center;
  padding: 0px 44px 53px 44px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.our-doctors .wrapper .section__title {
  margin-bottom: 2%;
}
.our-doctors .wrapper .wrapper__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.our-doctors .wrapper .wrapper__items .doctor {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% / 12 * 4 - 20px);
  border: 1px solid rgba(0, 10, 36, 0.2);
  margin-bottom: 4%;
}
.our-doctors .wrapper .wrapper__items .doctor__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-top: 29px;
  padding-bottom: 13px;
  padding-left: 29px;
}
.our-doctors .wrapper .wrapper__items .doctor__specialization {
  padding-bottom: 40px;
  padding-left: 29px;
}
.our-doctors .wrapper .wrapper__items .doctor .doc__img {
  width: 100%;
}
.our-doctors .wrapper .link__home {
  max-width: 150px;
  margin: 0 auto;
}
.our-doctors .wrapper .link__home .home__link::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
/* PAGE NUMBER 5 ------------------------- PAGE NUMBER 5 */
.contact {
  background-image: url(/src/img/main-bg-cont.png);
  background-repeat: no-repeat;
}
.contact .wrapper {
  padding-top: 25%;
  display: flex;
}
.contact .wrapper .form {
  background-color: #4363b1;
  max-width: 476px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}
.contact .wrapper .form__title {
  color: white;
  max-width: 252px;
}
.contact .wrapper .form__subtitle {
  color: white;
  font-size: 16px;
  line-height: 20px;
  max-width: 255px;
}
.contact .wrapper .form .input__field {
  display: block;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: white;
  padding-left: 17px;
}
.contact .wrapper .form .input__field::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact .wrapper .form .input__label {
  display: block;
  color: white;
  padding-bottom: 10px;
  padding-left: 20px;
}
.contact .wrapper .form .input__label-require {
  position: relative;
}
.contact .wrapper .form .input__label-require::after {
  content: "*";
  margin-left: 5px;
  position: absolute;
}
.contact .wrapper .form .input .sps {
  padding-top: 35px;
}
.contact .wrapper .form .form__submit {
  max-width: 270px;
}
.contact .wrapper .form .form__btn {
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.contact .wrapper .form .form__btn::after {
  content: url(/src/img/page_about/white-arrow.png);
  margin-left: 15px;
  vertical-align: middle;
}
.contact .wrapper .other {
  display: flex;
  background-color: white;
  box-shadow: 15px 5px 50px 0px rgba(0, 23, 80, 0.08);
  padding-bottom: 3%;
}
.contact .wrapper .other .block-1 {
  padding-left: 21px;
}
.contact .wrapper .other .block-1__img {
  min-width: 384px;
  max-width: 384px;
}
.contact .wrapper .other .block-1 .img__block-1 {
  min-height: 438px;
}
.contact .wrapper .other .block-1__title {
  color: #4363b1;
  padding-top: 69px;
  padding-left: 34px;
  padding-bottom: 50px;
}
.contact .wrapper .other .block-1 .information__program {
  font-size: 16px;
  padding-top: 38px;
}
.contact .wrapper .other .block-1 .information__program .information__work-program {
  font-weight: 700;
  font-size: 16px;
  color: #000a24;
  padding-bottom: 18px;
}
.contact .wrapper .other .block-1 .information__program .information__work {
  padding-bottom: 15px;
}
.contact .wrapper .other .block-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.contact .wrapper .other .block-2__img {
  min-width: 384px;
  margin-top: 178px;
}
.contact .wrapper .other .block-2 .img__block-2 {
  min-height: 438px;
}
.contact .wrapper .other .block-2 .contacts__phone {
  padding-left: 40px;
  position: relative;
  margin-top: 10%;
  font-weight: 700;
  font-size: 16px;
  color: #000a24;
}
.contact .wrapper .other .block-2 .contacts__phone::before {
  content: url(/src/img/phone.png);
  position: absolute;
  scale: 0.8;
  left: 0;
  top: 5%;
}
.contact .wrapper .other .block-2 .contacts__mail {
  margin-top: 20px;
  padding-left: 40px;
  position: relative;
}
.contact .wrapper .other .block-2 .contacts__mail::before {
  content: url(/src/img/message.png);
  position: absolute;
  left: 0;
}
.contact .wrapper .other .block-2 .information__work {
  padding-bottom: 15px;
}
.contact .wrapper .other .block-2 .contacts__location {
  margin-top: 20px;
  padding-left: 40px;
  position: relative;
}
.contact .wrapper .other .block-2 .contacts__location::before {
  content: url(/src/img/addres.png);
  position: absolute;
  left: 0;
}
.contact .wrapper .other .block-2 .contacts__location {
  max-width: 240px;
}
/* Contacts block using BEM */
.contacts {
  position: relative;
}
.contacts-mobile {
  max-width: 360px;
}
.contacts-footer {
  max-width: 430px;
  border: 1px solid grey;
  background-color: white;
}
.contacts__title {
  padding-top: 10%;
  padding-left: 15%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.contacts__hours {
  font-size: 16px;
  font-weight: 500;
}
.contacts__work {
  padding-top: 5%;
}
.contacts__program-footer {
  padding-top: 10%;
  padding-left: 25%;
}
.contacts__program-mobile {
  padding-left: 10%;
}
.contacts__program-footer::before {
  content: url(/src/img/calendar.png);
  position: absolute;
  left: 15%;
}
.contacts__program-mobile::before {
  content: url(/src/img/calendar.png);
  position: absolute;
  left: 0;
}
.contacts__phone-footer {
  padding-top: 5%;
  padding-left: 25%;
}
.contacts__phone-mobile {
  padding-top: 5%;
  padding-left: 10%;
}
.contacts__number {
  font-weight: 500;
  padding-bottom: 4%;
}
.contacts__phone-footer::before {
  content: url(/src/img/phone.png);
  position: absolute;
  scale: 0.8;
  left: 15%;
  top: 48%;
}
.contacts__phone-mobile::before {
  content: url(/src/img/phone.png);
  position: absolute;
  scale: 0.8;
  top: 5%;
  left: 0;
}
.contacts__mail-footer {
  padding-top: 5%;
  padding-left: 25%;
}
.contacts__mail-mobile {
  padding-top: 5%;
  padding-left: 10%;
}
.contacts__email {
  padding-bottom: 4%;
}
.contacts__mail-footer::before {
  content: url(/src/img/message.png);
  position: absolute;
  left: 15%;
}
.contacts__mail-mobile::before {
  content: url(/src/img/message.png);
  position: absolute;
  left: 0;
}
.contacts__location-footer {
  box-sizing: content-box;
  max-width: 240px;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 25%;
  line-height: 24px;
}
.contacts__location-mobile {
  max-width: 240px;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 10%;
  line-height: 24px;
}
.contacts__location-footer::before {
  content: url(/src/img/addres.png);
  position: absolute;
  left: 15%;
}
.contacts__location-mobile::before {
  content: url(/src/img/addres.png);
  position: absolute;
  left: 0;
}
.form__wrapper {
  padding-top: 24%;
  display: flex;
  justify-content: center;
}
.form__wrapper .form {
  box-shadow: 0px 2px 45px -18px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  padding-left: 48px;
  padding-right: 80px;
}
.form__wrapper .form__title {
  position: relative;
  line-height: 59px;
  max-width: 520px;
  margin-top: 63px;
}
.form__wrapper .form__title-pos {
  margin-bottom: 5%;
}
.form__wrapper .form__title-blue {
  position: relative;
  font-family: "Oswald", sans-serif;
  color: #4363b1;
}
.form__wrapper .form__title-blue::after {
  /*   content: url(/src/img/page2/virus.png);
      position: absolute;
      width: 50px;
      height: 50px;
      //transform: scale(0.1);
      top: -10px;
      left: 160px; */
  background-image: url(/src/img/page2/virus.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 50px;
  content: "";
}
.form__wrapper .form__submit {
  max-width: 217px;
  margin: 0 auto;
  padding-bottom: 4%;
}
.form__wrapper .form__btn {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
}
.form__wrapper .form__btn:hover {
  background: rgba(62, 113, 235, 0.1);
}
.form__wrapper .form__btn::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
.form__wrapper .form .input {
  display: flex;
  justify-content: space-between;
}
.form__wrapper .form .input__column-space {
  margin-right: 7%;
}
.form__wrapper .form .input__label {
  display: block;
  padding-bottom: 2%;
  padding-left: 7%;
}
.form__wrapper .form .input__label-require {
  position: relative;
}
.form__wrapper .form .input__label-require::after {
  content: "*";
  margin-left: 5px;
  position: absolute;
}
.form__wrapper .form .input__field {
  display: block;
  padding-left: 20px;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 30px;
}
.form__wrapper .form .input #email::placeholder {
  line-height: normal;
  padding-left: 10px;
}
.form__wrapper .program {
  padding-top: 184px;
  padding-left: 64px;
  padding-right: 64px;
}
.form__wrapper .program__hours {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  color: white;
}
.form__wrapper .program__work {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  color: white;
}
.form__wrapper .program__work-max {
  max-width: 312px;
  padding-bottom: 0px;
}
.form__wrapper .program-cov {
  box-shadow: 10px 2px 25px -8px rgba(0, 0, 0, 0.75);
  background-image: url(/src/img/page2/formbg.png);
  background-position: 35% 65%;
}
.form__wrapper .program-doc {
  width: 670px;
  box-shadow: 10px 2px 25px -8px rgba(0, 0, 0, 0.75);
  background-image: url(/src/img/page3/form-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.popup__wrapp {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: darkgray;
  width: 50vw;
  height: 60vh;
}
.popup__icon {
  max-width: 115px;
  padding-top: 10%;
  margin: 0 auto;
}
.popup__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 74px;
  max-width: 240px;
  padding-top: 4%;
  margin: 0 auto;
}
.popup__text {
  max-width: 550px;
  font-size: 24px;
  line-height: 43px;
  margin: 0 auto;
}
.popup__link {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 2%;
}
.popup__link::after {
  content: url(/src/img/Arrow\ 2.png);
  margin-left: 15px;
}
